<div class= "col-lg-8 col-md-12">
  <div class="jumbotron">
  <h1 class="display-4">Welcomes Student Management Application</h1>
  <p class="lead">This is a simple Student Management Application.</p>
  <hr class="my-4">
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="students" role="button">Learn more</a>
  </p>
  </div>
</div>
